.HashSearchTable {
  &.size-small {
    .MuiTable-root {
      > .MuiTableHead-root > .MuiTableRow-root > .MuiTableCell-root {
        font-size: 11.5px;
        line-height: 13px;
        padding: 10px 5px;
      }

      > .MuiTableBody-root > .MuiTableRow-root > .MuiTableCell-root {
        font-size: 11.5px;
        padding: 10px 5px;
      }

      > .MuiTableFooter-root > .MuiTableRow-root > .MuiTableCell-root {
        font-size: 11.5px;
        padding: 10px 5px;
      }
    }
  }
}
