.PTable.size-small .MuiTable-root,
.MuiTable-root.size-small {
  > .MuiTableHead-root > .MuiTableRow-root > .MuiTableCell-root {
    font-size: 11.5px;
    line-height: 13px;
    padding: 10px 5px;

    > .MuiCheckbox-root {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }

  > .MuiTableBody-root > .MuiTableRow-root > .MuiTableCell-root {
    font-size: 11.5px;
    padding: 10px 5px;

    > .PTableBoxyCell-check-box > .MuiCheckbox-root {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }

  > .MuiTableFooter-root > .MuiTableRow-root > .MuiTableCell-root {
    font-size: 11.5px;
    padding: 10px 5px;
  }
}

.PTable {
  .MuiTable-root.MuiTable-stickyHeader {
  }
  .MuiTable-root {
    > .MuiTableHead-root > .MuiTableRow-root > .MuiTableCell-root {
      background-color: #f8f8f8;
    }
    > .MuiTableHead-root > .MuiTableRow-root.PTableTopHeadCaptionRow > .MuiTableCell-root {
      background-color: #efefef;
    }
    > .MuiTableFooter-root > .MuiTableRow-root > .MuiTableCell-root {
      background-color: #efefef;
      font-weight: bold;
    }

    .PTableButton {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .PFormSelect {
    width: 100%;

    .MuiInputBase-root {
      min-width: 58px !important;

      .MuiSelect-select {
        font-size: 10.5px;
        padding: 5px 25px 5px 10px;
        text-align: left;
      }

      .MuiSvgIcon-root {
        font-size: 15px;
      }
    }
  }
}

.PForm.Search {
  .PFormRadioGroup {
    .MuiButtonBase-root.MuiRadio-root {
      padding-right: 5px !important;
    }
  }
}

.PTableMenuButton-Popper {
  ul.MuiList-root > li {
    font-size: 13px;
    .material-icons {
      margin-right: 7px !important;
      font-size: 16px !important;
    }
    &[color='primary'] {
      color: #1976d2;
    }
    &[color='secondary'] {
      color: #9c27b0;
    }
    &[color='error'],
    &[color='danger'] {
      color: #d32f2f;
    }
    &[color='warning'] {
      color: #ed6c02;
    }
    &[color='info'] {
      color: #0288d1;
    }
    &[color='success'] {
      color: #2e7d32;
    }
  }
}
